header {
    height: 150px;
    background-image: url('./img/pattern.png');
    background-color: blue;
}

.logo {
    height: 80px;
}

.intestazione {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*
*table {
    color: #3ba3db;
    margin: 0;
    padding:0;
   box-sizing: border-box;
}
*/
.autore {
    font-style: italic;
}

.nome-autore {
    font-style: normal;
    color: cyan;
}

.lorem {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;

}

.collegamenti {
    color:darkgray;
}

}